h1{
    float: left;
    background-color: cornflowerblue;
    color: white;

    padding:20px 20px 550px 20px;
    padding-top: 30px;
    margin: 0 20px;
}

.jianjie{
    border:1px solid cornflowerblue;
}

ul{
    list-style-type: none;
}
ul li{
    font-weight: bold;
}
ul p{
    display: inline;
    font-weight: 200;
}

